/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Add this CSS to your application's stylesheet */
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

/* Center the navbar brand logo if needed */
.navbar-brand {
    margin-right: auto; /* Centers the brand logo when the navbar is collapsed */
}
/* Center content style */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Adjust based on your design needs */
}

/* Apply this class to the main container of your content */
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}


 
