<div class="container">
    <!-- Welcome Message -->
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1>Welcome to Our Library!</h1>
            <p>This is the home page of our application.</p>
        </div>
    </div>

    <!-- Thumbnails Row -->
    <div class="row">
        <!-- Thumbnail 1 -->
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="adh.png" alt="Adhérent" class="img-fluid"> <!-- Fixed file path and added img-fluid class -->
                <div class="caption">
                    <h3>Adhérent</h3>
                    <p>Ceci pour ajouter un adhérent.</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Ajouter</a> 
                        <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Additional thumbnails can be added similarly -->
        <!-- Thumbnail 2 -->
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="path_to_image" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Description here...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Button</a> 
                        <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="path_to_image" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Description here...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Button</a> 
                        <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="path_to_image" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Description here...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Button</a> 
                        <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
